<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="footer-item popular-posts">
        <div class="main-title-2">
            <h1>Popular Posts</h1>
        </div>
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="http://placehold.it/90x63" alt="small-properties-1">
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="properties-details.html">Sweet Family Home</a>
                </h3>
                <p>February 27, 2018</p>
                <div class="price">
                    $734,000
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="http://placehold.it/90x63" alt="small-properties-2">
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="properties-details.html">Modern Family Home</a>
                </h3>
                <p>February 27, 2018</p>
                <div class="price">
                    $734,000
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="http://placehold.it/90x63" alt="small-properties-3">
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="properties-details.html">Beautiful Single Home</a>
                </h3>
                <p>February 27, 2018</p>
                <div class="price">
                    $734,000
                </div>
            </div>
        </div>
    </div>
</div>