<!-- Links -->
<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
    <div class="footer-item">
        <div class="main-title-2">
            <h1>Links</h1>
        </div>
        <ul class="links">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="about.html">About Us</a>
            </li>
            <li>
                <a href="contact.html">Contact Us</a>
            </li>
            <li>
                <a href="blog-single-sidebar-right.html">Blog</a>
            </li>
            <li>
                <a href="blog-single-sidebar-right.html">Services</a>
            </li>
            <li>
                <a href="properties-list-rightside.html">properties Listing</a>
            </li>
            <li>
                <a href="properties-grid-rightside.html">properties Grid</a>
            </li>
            <li>
                <a href="properties-details.html">properties Details</a>
            </li>
        </ul>
    </div>
</div>