<app-header></app-header>
<app-headermenu></app-headermenu>

<!-- Banner start -->
<section class="banner banner_video_bg">
    <div class="pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=5e0LxrLSzok',containment:'.banner_video_bg', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active item-100vh">
                    <div class="container">
                        <div class="carousel-caption banner-slider-inner">
                            <!--<div class="banner-content">
                                <h1 data-animation="animated fadeInUp delay-05s"><span>Welcome to</span> The Nest</h1>
                                <a href="#" class="btn button-md button-theme" data-animation="animated fadeInUp delay-05s">Learn More</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner end -->

<!-- Search Start-->
<app-nest-mortgagesearch></app-nest-mortgagesearch>
<!-- Search End-->

<app-nest-featuredproperties></app-nest-featuredproperties>

<app-nest-helpsection></app-nest-helpsection>

<!-- Recently properties start -->
<app-nest-recentproperties></app-nest-recentproperties>

<!-- Recently properties end -->

<!-- Counters strat -->

<app-nest-usercounters></app-nest-usercounters>

<!-- Counters end -->

<!-- Blog start -->
<app-nest-userblogs></app-nest-userblogs>
<!-- Blog end -->


<app-nest-footer></app-nest-footer>
<!--<router-outlet></router-outlet>-->
