<!-- Footer start -->
<footer class="main-footer clearfix">
    <div class="container">
        <!-- Footer info-->
        <div class="footer-info">
            <div class="row">
                <app-nest-footercontactus></app-nest-footercontactus>
                <app-nest-footerlinks></app-nest-footerlinks>
                <app-nest-footerposts></app-nest-footerposts>
                <app-nest-subscribe></app-nest-subscribe>
            </div>
        </div>
    </div>
</footer>
<app-nest-copyright></app-nest-copyright>